.box {
  height: 100vh;

  background-image: url('./images/banner.jpg');
  background-repeat: no-repeat;
  background-position: center 56px;
  background-attachment: scroll;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

}
