.box {
  height: 100vh;

  background-image: url('./images/banner.jpg');
  background-repeat: no-repeat;
  background-position: center 56px;
  background-attachment: scroll;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  .mark {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.4;
    z-index: 0;
  }

  .intro {
    text-align: center;
    color: #fff;
    z-index: 1;

    div:first-child {
      font-size: 3rem;
      font-weight: 100;
      line-height: 5rem;
    }

    div:nth-child(2) {
      font-size: 3rem;
      font-weight: 500;
      line-height: 5rem;
    }

    div:last-child {
      font-size: 1.5rem;
      font-weight: 100;
      line-height: 3rem;
    }
  }
}
